# could use groovy property but folks are not that groovy wild so will stick with java style prop file

sqlServerHost=10.1.1.5
sqlServerDb=d3loadscripts
#sqlServerDb=d3cluster_v233
sqlServerPwd=d3qa
sqlServerUid=d3qa
sqlServerPort=1433

# how far to go back from current system date all dates loaded as 00:00:00 time ie time has been cleared out
numberOfMonthsToLoad=26

# how many tx we will load per day.  Logic is one income every 14 days with balance of tx expense
# on Non Income days all tx will be expense
numberOfTxPerDay=1

maxConcurrency=2

logConfig=/Users/lpresswood/Projects/D3/D3-AUTOMATION/perfload/src/LogConfig.groovy

acctSelSql=select id from d3_account where account_closed_date is null and id < 10

totalInternalTransfersPerDay=12000

internalXferUserSQL=select id from d3_user where id in (select top 4 percent id from d3_user order by newid())
