# #############################################################################################################################
# Prefix for all accounts, the account number will be <accountPrefix>-<group number>-<accountSequence>-<thread/file number>
#   where the accountSequence begins at accountOffset and ends at accountOffset + numberOfAccounts (exclusive)
#   For example, if we have the following settings:
#    numOfGroups=2
#    groupOffset=100
#    numOfThreads=3
#    numberOfAccounts=1
#    accountOffset=1000000
#    accountPrefix=DDA-auid
#    userUidPrefix=uid-
#    userLoginPrefix=login-
#  We would get 6 account files (numOfGroups * numOfThreads) and 2 user files (numOfGroups)
#  Each account file would contain just one account, and each user file would contain just one user (numberOfAccounts)
#  The account numbers would be as follows:
#    DDA-auid-100-1000000-1 (groupOffset + 0 for the first group, accountOffset + 0, thread number 1) 
#    DDA-auid-100-1000000-2 (groupOffset + 0 for the first group, accountOffset + 0, thread number 2)
#    DDA-auid-100-1000000-3 (groupOffset + 0 for the first group, accountOffset + 0, thread number 3)
#    DDA-auid-101-1000000-1 (groupOffset + 1 for the 2nd group, accountOffset + 0, thread number 1)
#    DDA-auid-101-1000000-2 (groupOffset + 1 for the 2nd group, accountOffset + 0, thread number 2)
#    DDA-auid-101-1000000-3 (groupOffset + 1 for the 2nd group, accountOffset + 0, thread number 3)
#  And ther user uid and login names would be
#    uid-100-1000000, and login-100-1000000
#    uid-101-1000000, and login-101-1000000
# #############################################################################################################################


# How many accounts to generate per file
# Also specifies the number of users to create
#    to control the number of accounts per user, increase/decrease "numOfThreads".  Each user will get that many accounts.
numberOfAccounts=300000

# Number of threads, the number of files, and the number of accounts for each user
numOfThreads=2
numOfGroups=1

# The starting point for account numbers
accountOffset=1000000

# Starting point for group number, 
groupOffset=100

# Prefix for all accounts
accountPrefix=DDA-auid-5

# Prefixes for user UID and user login id when creating users
userUidPrefix=perf5uid-
userLoginPrefix=perf5ul-

# Company id for all accounts and users
sourceCompanyId=perf5

# Transaction count range for each account in format n-m.  Will get a random number (between n and m) of transactions between n and m; e.g. 1-5 means between one and five transactions per account
minMaxTxnsPerAcct=1-10

categorizeTransactions=true
# Percentage of transactions that will be categorized
categorizationPercent=30

#Where to write output files
#conduitFileDropPath=/tmp/d3conduit
conduitFileDropPath=/root/TCF_Load_Test/output500

suppressAlerts=false
threadMultiplier=2

#used as part of the filename
serverName=cond1
