<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Settings_Service_Regression_Tests" verbose="2">
    <listeners>
        <listener class-name="com.d3.tests.listeners.ProjectListener"/>
    </listeners>
    <test name="Settings_Regression">
        <packages>
            <package name="com.d3.tests.consumer.core.settings"/>
        </packages>
    </test>
</suite>
